@import "../../index";

.chatPageContainer {
  @extend .container;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 332px 1fr;
  grid-column-gap: 2rem;

  .chatPageDialogsBlock {
    display: grid;
    align-self: start;
    row-gap: .2rem;


    .chatPageSearchBlock {
      padding: 1rem 2rem;
      background: var(--color-bg-second);
      border-radius: var(--border-radius-main-box);

    }

    & a {
      display: block;
      background: var(--color-bg-second);
      color: var(--color-white);

      & img {
        margin-right: 10px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
        border: 2px solid var(--color-bg-main);
      }
    }



    .chatPageDialogsItem {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      padding: 12px 8px 12px 5px;
      border-radius: var(--border-radius-main-box);
      box-shadow: var(--box-shadow);

      .chatPageDialogsItemInfo {
        display: grid;
        grid-template-columns: 1fr auto;

        & span {
          font-size: .9rem;
        }

        .chatPageDialogsItemDetailsInfo  {

          & p {
            margin-top: 8px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: .8rem;
          }

          & h3 {
            font-weight: 700;
            font-size: 1rem;
          }

        }


        /* --------------- MEDIA REQUEST : [1024] --------------- */

        @media screen and (max-width: 1024px) {
          .chatPageDialogsItemDetailsInfo {
            width: 162px;

            & p {
              width: 170px;
            }


          }
        }

        /* --------------- MEDIA REQUEST : [1024] --------------- */

        @media screen and (max-width: 640px) {
          .chatPageDialogsItemDetailsInfo {
            width: 82px;

            & p {
              width: 82px;
            }

            span {
              display: none;
            }
          }
        }
      }
    }

    .active {
      background-color: royalblue;
    }

  }

  .chatPageMessagesBlock {
    background: var(--color-bg-second);
    color: var(--color-white);
    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);

    .userName {
      padding: 8px 10px;
      line-height: 1.4rem;
      display: flex;
      justify-content: space-between;


      & span {
        font-size: 12px;
        opacity: .8;
      }

      .mData {

        & > span {
          color: var(--color-bg-main-bg);
          //font-size: 14px;
        }

        & p {
          font-weight: 700;
        }
      }
    }

    .messagesList {
      padding: 15px 10px;
      height: 550px;
      overflow-y: auto;
      display: grid;
      font-size: .8rem;
      //align-content: center;

      .yourSentMessage {
        padding: 15px 10px;
        border: 1px solid gainsboro;
        margin-bottom: 15px;
        max-width: 90%;
        border-radius: 15px;
        background-color: #ad5178;
        margin-left: auto;
      }

      .userSentMessage {
        padding: 15px 10px;
        border: 1px solid gainsboro;
        margin-bottom: 15px;
        max-width: 90%;
        border-radius: 15px;
        background-color: var(--color-main-3);
        margin-right: auto;
      }


      /* --------------- MEDIA REQUEST : [1024] --------------- */

      @media screen and (max-width: 1024px) {
        .yourSentMessage, .userSentMessage {
          font-size: 14px;
        }
      }

    }

    .line {
      width: 100%;
      height: 4px;
      background: var(--color-bg-main);
    }

    .addItemForm {
      padding: 20px;
    }


    /* --------------- MEDIA REQUEST : [640] --------------- */

    @media screen and (max-width: 640px) {
      .userName {
        flex-direction: column;
        align-items: center;
        .mData {
          text-align: center;

          & > span {
            margin-bottom: 8px;
            display: block;
          }
        }
      }
    }

  }



}

.customAddItemForm {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-column-gap: 2rem;
  align-items: center;

  & button {
    min-width: 42px;
    height: 42px;
    border-radius: 50%;
  }
}

/* --------------- MEDIA REQUEST : [1024] --------------- */

@media screen and (max-width: 1024px) {
  .chatPageContainer {
    grid-template-columns: 280px 1fr;

  }
}




/* --------------- MEDIA REQUEST : [800] --------------- */

@media screen and (max-width: 800px) {
  .chatPageContainer {
    grid-template-columns: 1fr;
    .chatPageDialogsBlock {
      margin-bottom: 3rem;

      .chatPageDialogsItem {
        .chatPageDialogsItemInfo {
          .chatPageDialogsItemDetailsInfo {
            display: grid;
            width: 100%;
            & p {
              width: 100%;
            }
          }
        }
      }
    }
  }
}



/* --------------- MEDIA REQUEST : [640] --------------- */

@media screen and (max-width: 640px) {
  .customAddItemForm {
    grid-template-columns: 1fr;
    & button {
      justify-self: center;
      border-radius: 4px;
      align-content: center;
      justify-content: center;
      height: 32px;
    }
  }
}