@import "../../../index";

.chatPageContainer {
  @extend .container;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: 332px 1fr;
  grid-column-gap: 2rem;
  border: 1px solid firebrick;

  .chatPageDialogsBlock {
    border: 1px solid green;
    display: grid;
    align-self: start;
    row-gap: 0.4rem;

    .chatPageSearchBlock {
      padding: 1rem 2rem;

    }

    & a {
      display: block;
      background-color: tomato;

      & img {
        margin-right: 10px;
        width: 56px;
        height: 56px;
        border-radius: 50%;
      }
    }



    .chatPageDialogsItem {
      display: grid;
      align-items: center;
      grid-template-columns: auto 1fr;
      padding: 12px 8px 12px 5px;

      .chatPageDialogsItemInfo {
        display: grid;
        grid-template-columns: 1fr auto;


        & span {
          font-size: .9rem;
        }

        .chatPageDialogsItemDetailsInfo  {

          & p {
            margin-top: 8px;
            width: 200px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-size: 14px;
          }

          & h3 {
            font-weight: 700;
            font-size: 1rem;
          }

        }


        /* --------------- MEDIA REQUEST : [1024] --------------- */

        @media screen and (max-width: 1024px) {
          .chatPageDialogsItemDetailsInfo {
            width: 162px;

            & p {
              width: 170px;
            }


          }
        }

        /* --------------- MEDIA REQUEST : [1024] --------------- */

        @media screen and (max-width: 640px) {
          .chatPageDialogsItemDetailsInfo {
            width: 82px;

            & p {
              width: 82px;
            }

            span {
              display: none;
            }


          }
        }



      }
    }

    .active {
      background-color: royalblue;
    }

  }

  .m {
    border: 1px solid tomato;

    .userName {
      padding: 8px 10px;
      line-height: 1.4rem;

      display: flex;
      justify-content: space-between;

      & span {
        font-size: 12px;
        opacity: .8;
      }

      .mData {

        & > span {
          color: green;
        }

        & p {
          font-weight: 700;

        }
      }
    }

    .messagesList {
      padding: 15px 10px;
      border: 1px solid rebeccapurple;
      height: 550px;
      overflow-y: auto;
      display: grid;
      align-content: center;

      .yourSentMessage {
        padding: 15px 10px;
        border: 1px solid gainsboro;
        margin-bottom: 15px;
        max-width: 90%;
        border-radius: 15px;
        background-color: rebeccapurple;
        color: whitesmoke;
        margin-left: auto;
      }

      .userSentMessage {
        padding: 15px 10px;
        border: 1px solid gainsboro;
        margin-bottom: 15px;
        max-width: 90%;
        border-radius: 15px;
        background-color: thistle;
        margin-right: auto;
      }


      /* --------------- MEDIA REQUEST : [1024] --------------- */

      @media screen and (max-width: 1024px) {
        .yourSentMessage, .userSentMessage {
          font-size: 14px;
        }
      }

    }

    .addItemForm {
      margin: 40px;
    }





    /* --------------- MEDIA REQUEST : [640] --------------- */

    @media screen and (max-width: 640px) {
      .userName {
        flex-direction: column;
        align-items: center;
        .mData {
          text-align: center;

          & > span {
            margin-bottom: 8px;
            display: block;
          }
        }
      }
    }

  }



}

/* --------------- MEDIA REQUEST : [1024] --------------- */

@media screen and (max-width: 1024px) {
  .chatPageContainer {
    grid-template-columns: 280px 1fr;
  }
}




/* --------------- MEDIA REQUEST : [800] --------------- */

@media screen and (max-width: 800px) {
  .chatPageContainer {
    grid-template-columns: 1fr;
  }
}


