.items {
  display: grid;
  //grid-template-rows: 1fr;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: space-between;

  .item {
    background-color: var(--color-bg-second);
    position: relative;
    color: var(--color-white);
    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);


    & > img {
      position: absolute;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 90px;
      height: 90px;
      border: 1px solid var(--color-white);
      border-radius: 50%;
    }

    .itemBackgroundImage {
      height: 90px;
      background-color: gray;


      & img {
        height: 90px;
        border-top-right-radius: var(--border-radius-main-box);
        border-top-left-radius: var(--border-radius-main-box);
      }
    }

    .userData {
      margin-top: 66px;
      display: flex;
      flex-direction: column;
      align-items: center;

      & h3 {
        font-weight: 700;
        margin-bottom: 12px;
      }

      & > span {
        font-size: 12px;
      }

      & a {
        margin: 0;
        padding: 0;
        color: whitesmoke;
        line-height: 2rem;
        font-weight: 500;
        font-size: 14px;

        &:hover {
          color: var(--color-main-3);
          font-weight: 700;
        }
      }

      & button {
        margin: 1.6rem 0 1rem;
        font-size: .7rem;
      }

      .line {
        border: 1px solid gray;
        width: 100%;
        margin-top: 10px
      }

    }
  }


}


/* --------------- MEDIA REQUEST : [1024] --------------- */

@media screen and (max-width: 1024px) {
  .items {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fit, 240px);

    grid-column-gap: .4rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
  }
}

/* --------------- MEDIA REQUEST : [640] --------------- */

@media screen and (max-width: 640px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(200px, 240px));
    justify-content: center;
  }
}

