
.timelineContainer {

  .formAddPost {
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius-main-box);

    background: var(--color-bg-second);
  }

  .formAddPostWithAvatar {
    @extend .formAddPost;
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--color-bg-second);

    & img {
      width: 52px;
      height: 52px;
      margin-right: 20px;
      border-radius: 50%;
      border: 2px solid white;
    }
  }

}

/* --------------- MEDIA REQUEST : [800] --------------- */

@media screen and (max-width: 800px) {
  .timelineContainer {
    .formAddPost {
      margin-bottom: 1rem;
    }
  }
}

/* --------------- MEDIA REQUEST : [640] --------------- */

@media screen and (max-width: 640px) {
  .timelineContainer {
    .formAddPostWithAvatar {
      grid-template-columns: 1fr;
      & img {
        display: none;
      }
    }
  }
}