header {

  background-color: #313131 !important;
  padding: 12px 0 !important;
  width: 100%;
  color: wheat;

  .container {
    width: 100%;
    //max-width: 1100px;
    padding: 0 15px;
    margin: 0 auto;
    border: 1px solid yellow;


    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      margin-right: -15 px;
      margin-left: -15 px;
      transition: ease all .5s;

      & img {
                  width: 30px;
                  height: 30px;
                  border: 1px solid greenyellow;
                  border-radius: 50%;
                }

                & h2 {
                  padding: 0;
                  margin: 0;
                }

                .logoHeader {
                  display: flex;
                  align-items: center;
                }

                .navigation {
                  flex-wrap: wrap;

                  & ul {
                    display: flex;
                    margin-left: 10px;
                    padding-left: 0;
                    & li {
                      list-style-type: none;
                      margin-right: 10px;
                    }
                  }
                }


                .searchBlock {
                }

                .userInfo {
                  display: flex;
                  align-items: center;

                  & img {
                    width: 35px;
                    height: 35px;
                    margin: 0 5px;
                  }

                  & span {
                    display: flex;
                  }
                }

              }

    }

}

@media screen and (min-width: 1250px) {
  .container {
    transition: ease all .5s;
    max-width: 1140px  !important;
  }
}

@media screen and (min-width: 992px) {
  .container {

    transition: ease all .5s;
    max-width: 960px;
  }
}

@media screen and (max-width: 1040px) {
  .container {

    transition: ease all .5s;
    max-width: 700px;
  }
}


@media screen and (max-width: 780px) {
  .container {
    transition: ease all .5s;
    max-width: 520px;
    flex-wrap: wrap;
  }
}