.socialAccounts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;

  row-gap: .15rem;
  //justify-self: flex-start;

  .socialAccountsTitle {
    font-size: 1.2rem;
    padding: .6rem 0 .6rem .6rem;
    background: var(--color-bg-second);
    color: var(--color-white);
    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);
  }

  .item {
    padding: 10px 0 10px 10px;
    background-color: var(--color-bg-second);
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);

    & svg {
      margin-right: .2rem;
    }
  }


}


@media screen and (max-width: 1024px) {
  .socialAccounts {
    .item {
      padding: 10px 0 10px 6px;
      & span {
        font-size: .8rem;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .socialAccounts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
    column-gap: .6rem;
    .socialAccountsTitle {
      display: none;
    }
    .item {
      & span {
        margin-left: .4rem;
      }
    }
  }
}


@media screen and (max-width: 640px) {
  .socialAccounts {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    .item {
      justify-content: center;

      & span {
        display: none;
      }

      &:last-child {
        grid-column-start: 2;
        grid-column-end: 4;
      }
    }
  }
}