@import "../../index";

.container {
  @extend .main-container;
  border: 1px solid hotpink;




  .wrapper {
    flex: 0 0 24%;
    max-width: 24%;

    .user {
      padding: 0 15px;
      position: relative;


      img {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 110px;
        height: 110px;
        border: 1px solid lightskyblue;
        border-radius: 50%;
      }

      .userData {
        //margin-top: 100px;
        padding-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        background-color: whitesmoke;

        * {
          margin: 10px 0;
        }

        p {
          font-size: 18px;
          font-weight: 700;
        }
      }
    }
  }
}