.weatherContainer {
  position: relative;

  .weatherContent {
    background: greenyellow;
    padding: 1.4rem;

    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);

    .locationWeather {
      display: flex;
      justify-content: space-between;

      .locationWeatherCityTitle {
        & span {
          margin-right: 4px;
        }
        & svg {
          cursor: pointer;
          display: flex;
          align-items: center;

          &:hover {
            color: #9cacbf;
          }
        }

        & input {
          width: 75%;
        }
      }
    }

    .iconWeather {
      text-align: center;
      margin: 20px 0;

      & svg {
        font-size: 8rem;

      }
    }

    .temp {
      display: flex;
      justify-content: space-between;

      & ul {

        & span {
          display: flex;
          align-items: center;
          font-size: .8rem;

          & svg {

            font-size: 1.1rem;
            margin-right: 4px;
          }
        }
      }
    }
  }
}


/* --------------- MEDIA REQUEST: [1200] --------------- */
@media screen and (max-width: 1200px) {
  .weatherContainer {
    .weatherContent {
      .iconWeather {
        margin: 10px 0;

        & svg {
          font-size: 6rem;

        }
      }

      .temp {
        align-items: center;
        & h1 {
          font-size: 1.6rem;
        }
      }
    }
  }
}

/* --------------- MEDIA REQUEST: [1024] --------------- */
@media screen and (max-width: 1024px) {
  .weatherContainer {
    display: none;
  }
}