@import "../../../../index";

.container {
  @extend .container;

  border: 1px solid darkslateblue;

  .headerNavigation {
    width: 100%;
    padding: 10px 0;


    & ul {
      display: flex;
      justify-content: space-between;
      margin: 0 15px;


      & li {
        list-style-type: none;
        a {

          color: black;
          text-decoration: none;


          &:hover {
            color: thistle;
          }
        }
      }
    }

  }
}