.addItemForm {
  display: grid;
  row-gap: 1rem;
  width: 100%;


  & button {
    display: grid;
    justify-self: end;
    background: var(--color-main-3);
  }

  & textarea::placeholder {
    font-size: 12px;
    color: var(--color-white);
  }
}
