@import "../../index";


.mainContainer {
  @extend .container;
  margin-top: 25px;
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  column-gap: 3.6rem;

  .randomUsers {
    margin-top: 20px;
  }

}


/* --------------- MEDIA REQUEST : [1024] --------------- */
@media screen and (max-width: 1024px) {
  .mainContainer {
    grid-template-columns: 25% 1fr;
  }
}

/* --------------- MEDIA REQUEST : [800] --------------- */
@media screen and (max-width: 800px) {
  .mainContainer {
    grid-template-columns: 1fr;
    column-gap: 2.6rem;

    .randomUsers {
      display: none;
    }
  }
}

/* --------------- MEDIA REQUEST : [640] --------------- */
@media screen and (max-width: 640px) {
  .mainContainer {
    width: var(--container-width-lg);
    grid-template-columns: 1fr;

  }
}