@import "../../../index";

.contentContainer {
  width: 100%;

  .mainContainer {
    @extend .usersContainer;

    border: 1px solid gold;
    margin-top: 25px;


    display: grid;
    grid-template-columns: 25% 1fr;
    column-gap: 3.6rem;
  }


  @media screen and (max-width: 1024px) {
    .mainContainer {

    }
  }

  @media screen and (max-width: 800px) {
    .mainContainer {
      grid-template-columns: 1fr;
      column-gap: 2.6rem;
    }
  }


  @media screen and (max-width: 640px) {
    .mainContainer {
      width: var(--container-width-lg);
      grid-template-columns: 1fr;

    }
  }
}



