@import "../../index.scss";


header {

  background-color: var(--color-bg-second);
  box-shadow: var(--box-shadow);
  height: 72px;
  display: grid;
  align-items: center;

  .headerContainer {
    @extend .container;
    display: grid;
    grid-template-columns: 14% 2fr 1.4fr 14%;
    column-gap: 2rem;
    align-items: center;

    .headerNavigation {
      display: flex;
      justify-content: center;
      gap: 2rem;

      margin-top: .2rem;
      .searchIcon {
        display: none;
      }

    }

    .headerBurger {
      display: none;
    }


    .headerSearchBlock {
      padding: 0 1rem;
    }

    .headerUserInfo {
      display: flex;
      justify-content: end;
      align-items: center;

      & img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: .4rem;
      }

      & div {
        overflow: hidden;
      }

    }
  }
}


/* --------------- MEDIA REQUEST : [1024] --------------- */

@media screen and (max-width: 1024px) {
  .container {

    width: var(--container-width-md);
    grid-template-columns: 1fr 2fr 1fr;


    .headerNavigation {
      display: flex;
      justify-content: center;
      gap: 2rem;
      .searchIcon {
        display: grid;
      }
    }

    .headerSearchBlock {
      display: none;
    }
  }
}



/* --------------- MEDIA REQUEST : [640] --------------- */

@media screen and (max-width: 640px) {
  .container {
    width: var(--container-width-lg);
    grid-template-columns: auto 2fr 1fr;
    column-gap: .6rem;
    align-items: center;

    a {
      .headerLogotype {
        font-size: 1.2rem;
      }
    }

    .headerNavigation {
      display: none;
    }

    .headerBurger {
      display: grid;
      justify-items: start;
      margin-top: .2rem;
    }

    .headerUserInfo {
      & div {
        display: none;
      }

      & img {
        width: 40px;
        height: 40px;
        margin: 0;
      }
    }
  }
}