@import "../../index";

header {

  background-color: #313131 !important;
  padding: 12px 0 !important;
  width: 100%;
  color: wheat;

  .container {
    @extend .main-container;
    border: 1px solid yellow;


    .headerItems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      transition: ease all .5s;

      & img {
        width: 30px;
        height: 30px;
        border: 1px solid greenyellow;
        border-radius: 50%;
      }

      & h2 {
        padding: 0;
        margin: 0;
      }

      .logoHeader {
        display: flex;
        align-items: center;
      }

      .navigation {
        flex-wrap: wrap;

        & ul {
          display: flex;
          margin-left: 10px;
          padding-left: 0;

          & li {
            list-style-type: none;
            margin-right: 10px;
          }
        }
      }


      .searchBlock {
      }

      .userInfo {
        display: flex;
        align-items: center;

        & img {
          width: 35px;
          height: 35px;
          margin: 0 5px;
        }

        & span {
          display: flex;
        }
      }

    }

  }

}
