.randomUsers {
  display: flex;
  flex-direction: column;
  border: 1px solid tomato;
  align-self: flex-start;
}



/*------------- 640 ------------*/

/*

grid-row-start: 2;
display: grid;
border: 1px solid tomato;

*/