.randomUsers {
  width: 300px;
  background: #ad5178;

  border-radius: var(--border-radius-main-box);
  box-shadow: var(--box-shadow);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 10px;

    & a {
      font-size: .9rem;
    }
  }

  .randomUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;

    & button {
      min-width: 82px;
      font-size: .6rem;
      margin-left: 20px;
    }

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: .6rem;
    }

    p {
      font-size: .8rem;
      word-break: break-word;
      font-weight: 700;
    }

    .randomUserInfo {
      display: flex;
      align-items: center;
    }
  }
}



/*------------- 640 ------------*/

/*

grid-row-start: 2;
display: grid;
border: 1px solid tomato;

*/