.weatherContainer {

  margin-top: 50px;
  position: relative;
  width: 300px;

  .weatherContent {
    background: greenyellow;
    padding: 2rem;

    border-radius: var(--border-radius-main-box);
    box-shadow: var(--box-shadow);

    .locationWeather {
      display: flex;
      justify-content: space-between;
    }

    .iconWeather {
      text-align: center;

      margin: 40px 0;

      & svg {
        font-size: 8rem;
      }
    }

    .temp {
      display: flex;
      justify-content: space-between;

      & ul {



        & span {
          display: flex;
          align-items: center;

          & svg {

            font-size: 1.1rem;
            margin-right: 4px;
          }
        }
      }
    }
  }
}