@import "../../../../index";

.profileBannerImp {
  position: relative;

  & h3 {
    font-size: 26px;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    padding: 0;
    font-weight: 700;
  }

  & span {
    font-size: 14px;
    line-height: 1.5rem;
    padding: 0;
    margin-bottom: .4rem;
  }


  .banner {
    background-image: url("../../../../other/images/my-bg.jpg");

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 350px;
    position: relative;

    &::before {
      opacity: .5;
      background-image: linear-gradient(transparent, black 85%);
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 0;
    }
  }


  .profileOwner {
    padding: 20px 0;
    background: #313131;
    width: 100%;
    position: relative;


    .profileOwnerContainer {
      @extend .container;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      & img {

        position: absolute;
        color: #fff;
        bottom: 2px;
        border-radius: 100%;
        border: 3px solid #fff;
        width: 150px;
        height: 150px;

      }

      .ownerName {
        margin-left: 175px;
        color: white;

        & span {
          display: block;
          color: darkgrey;
        }
      }

      .editProfileOwner {
        & button {
          margin-right: 100px;
          width: 50px;
          height: 25px;
        }
      }
    }


    /* --------------- MEDIA REQUEST : [640] --------------- */

    @media screen and (max-width: 640px) {
      .profileOwnerContainer {
        width: var(--container-width-lg);
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;

        & img {
          left: 50%;
          top: -80px;
          transform: translate(-50%);
          width: 120px;
          height: 120px;
        }

        .ownerName {
          margin: 75px 0 20px 0;

          & span, h3 {
            text-align: center;
          }
        }

      }


    }

  }


  /* --------------- MEDIA REQUEST : [640] --------------- */

  @media screen and (max-width: 640px) {

    .banner {
      min-height: 200px;
    }

  }
}



