@import "../../../../index";

.profileBannerImp {
  position: relative;


  .profileBanner {
    min-height: 350px;

    .banner {
      background-image: url("../../../../other/images/my-bg.jpg");

      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 350px;
      position: relative;

      &::before {
        opacity: .5;
        background-image: linear-gradient(transparent, black 85%);
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
      }
    }
  }




  .profileOwner {
    padding: 20px 0;
    background: #313131;
    width: 100%;

    .profileOwnerWrapper {


      position: relative;

      .container {
        @extend .main-container;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .profilePhoto {
          position: absolute;
          color: #fff;
          bottom: 2px;

              & img {
                border-radius: 100%;
                border: 3px solid #fff;
                width: 150px;
                height: 150px;
              }
        }
        .ownerName {
          margin-left: 175px;
          color: white;

          & h2 {
            padding: 0 0 5px 0;
            margin: 0;
            font-size: 26px;
          }

          & span {
            padding: 4px 0;
            display: block;
            color: darkgrey;
          }
        }

        .editProfileOwner {
          & button {
            margin-right: 100px;
            width: 50px;
            height: 25px;
          }
        }
      }
    }

  }
}

