@import "src/index";

.newsfeedContainer {
  @extend .container;
  display: grid;
  grid-template-columns: 240px 3fr 240px;
  column-gap: 2.6rem;
  margin-top: 60px;

 /*   .newsfeedOwner {
      display: grid;
      row-gap: 1.4rem;
      align-self: start;
      justify-items: center;
      background: var(--color-bg-second);
      border: 1px solid rebeccapurple;
      box-shadow: var(--box-shadow);

      & img {
        width: 120px;
        height: 120px;
        border-radius: 100%;
        border: 3px solid whitesmoke;
        margin: 25px 0;
      }


      .newsfeedOwnerInfo {
        display: grid;
        justify-items: center;

        & p {
          font-size: 18px;
          font-weight: 700;
          color: white;
          margin-bottom: 12px;
        }

        & span {
          color: var(--color-main-3);
        }
      }


        & a {
          text-decoration: none;
          font-size: 14px;
          color: white;
          margin: 10px 0rem;
        }

        & a:hover {
          font-weight: 800;
          color: gold;
        }

    }*/

    .newsfeedOwner2 {

      display: grid;
      row-gap: 1.4rem;
      align-self: start;
      justify-items: center;
      background: var(--color-bg-second);

      box-shadow: var(--box-shadow);
      border-radius: var(--border-radius-main-box);
      position: relative;

      .newsfeedOwner2SecondColor {
        background: url('../../other/images/background/pict1.jpg') no-repeat;
        background-size: cover;
        height: 132px;
        width: 100%;
        border-radius: var(--border-radius-main-box);
      }

      .newsfeedOwnerPhoto {

        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, 0);
        border-radius: var(--border-radius-main-box);
        //background-position: top center;

        & img {
          width: 120px;
          height: 120px;
          border-radius: 100%;
          border: 3px solid whitesmoke;
        }
      }



      .newsfeedOwnerInfo {
        display: grid;
        justify-items: center;

        & p {
          font-size: 18px;
          font-weight: 700;
          color: white;
          margin-bottom: 12px;

          margin-top: 4rem;

        }

        & span {
          color: var(--color-main-3);
        }
      }


      & a {
        text-decoration: none;
        font-size: 14px;
        color: white;
        margin: 10px 0;
      }

      & a:hover {
        font-weight: 800;
        color: gold;
      }
    }

    .randomUsers {
      display: none;
    }


    .userFollowing {
      border: 1px solid green;
      height: 200px;
      display: grid;
      align-self: start;
      background: #ad5178;
    }


}


@media screen and (max-width: 1200px) {
  .newsfeedContainer {
    grid-template-columns: 240px 1fr;

    .randomUsersRight {
      display: none;
    }

    .randomUsers {

      display: grid;
      align-self: start;
    }
  }
}

@media screen and (max-width: 1024px) {
  .newsfeedContainer {
    grid-template-columns: 240px 1fr;
  }
}

@media screen and (max-width: 800px) {
  .newsfeedContainer {
    grid-template-columns: 1fr;
    row-gap: 4rem;
    //grid-template-columns: 240px 1fr;

    .userFollowing {
      display: none;
    }

    .newsfeedOwner2 {

      .newsfeedOwner2SecondColor {
        background-position: bottom;
      }
    }
  }
}