.randomUsers {
  background: var(--color-bg-second);
  border-radius: var(--border-radius-main-box);
  box-shadow: var(--box-shadow);

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 8px;

    & a {
      font-size: .9rem;
      color: var(--color-white);
    }
  }

  .randomUser {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8px;

    & img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      margin-right: .6rem;
    }

    & button {
      padding: 0;

      &:hover {
        opacity: .6;
      }
    }

    p {
      font-size: .8rem;
      word-break: break-word;
      font-weight: 700;
    }

    .randomUserInfo {
      display: flex;
      align-items: center;
      color: var(--color-bg-main);
    }

    .unfollow {
      padding: 0;
      margin-left: 12px;
      & svg {
        color: darkred;
        font-size: 1.8rem;
      }
    }

    .follow {
      padding: 0;
      margin-left: 12px;
      & svg {
        color: yellowgreen;
        font-size: 1.8rem;
      }
    }
  }

}

///1384


/* --------------- MEDIA REQUEST : [1200] --------------- */


@media screen and (max-width: 1200px) {
  .randomUsers {

    .title {
      font-size: .7rem;

      & a {
        font-size: .6rem;
      }
    }


    .randomUser {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 8px;


      & img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: .5rem;
      }


      .randomUserInfo {
        display: flex;
        align-items: center;
      }

      .unfollow {
        margin-bottom: 4px;
        & svg {
          font-size: 1.4rem;
        }
      }

      .follow {
        margin-bottom: 4px;
        & svg {
          font-size: 1.4rem;
        }
      }
    }


  }
}